/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
}
img {
  border-radius: 50%;
}
a {
  text-decoration: none;
}
/*Variables*/
/*Mixins*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.h3Style {
  color: #372635b9;
  font-size: 2.8rem;
}
.h2Style {
  color: #372635b9;
  font-size: 2.2rem;
}
.headerStyle {
  width: 100%;
  height: 100px;
  background-color: #b1e8ef;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 2.1rem;
  color: #372635b9;
  line-height: 3rem;
}
h3 {
  color: #372635b9;
  font-size: 2.8rem;
}
h2 {
  color: #372635b9;
  font-size: 2.2rem;
}
/*Header*/
header {
  background: url(/img/bcg.jpg) center center / cover;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  padding-top: 25px;
}
header .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
}
header .nav-wrapper nav a {
  color: #372635b9;
  font-size: 2.1rem;
  padding-left: 25px;
}
header .nav-wrapper nav a:hover {
  color: #372635;
}
header .nav-wrapper img {
  width: 8%;
}
header .landing-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  text-align: center;
  color: #372635b9;
}
header .landing-wrapper div h1 {
  font-size: 6rem;
}
header .landing-wrapper div p {
  font-size: 2rem;
  padding: 20px 0;
}
/*About*/
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 84px;
}
#about .about-container {
  max-width: 940px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#about .about-inner {
  max-width: 460px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#about .about-inner img {
  width: 30%;
}
#about .about-inner h3 {
  padding: 20px 0;
}
#about .about-inner p {
  text-align: center;
}
/*Skills*/
#skills {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .skills-wrapper {
  max-width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .skills-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#skills .skills-header {
  width: 100%;
  height: 100px;
  background-color: #b1e8ef;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .skill-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#skills .skill-info img {
  padding: 20px;
}
#skills .skill-info .skills-details {
  padding: 30px;
}
/*Contact*/
