// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

/*Variables*/
@maxWidthTop: 1200px;
@maxWidthMiddle: 940px;
@fadedPurple: #372635b9;
@deepPurple: #372635;
@paragraphs: 2.1rem;

/*Mixins*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.h3Style {
  color: @fadedPurple;
  font-size: 2.8rem;
}

p {
  font-size: @paragraphs;
  color: @fadedPurple;
  line-height: 3rem;
}

/*Header*/
header {
  background: url(/img/bcg.jpg) center center/cover;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  padding-top: 25px;

  .nav-container {
    .flex-center();
  }

  .nav-wrapper {
    .flex-nav();
    width: 100%;
    max-width: @maxWidthTop;
    padding: 0 40px;
  }

  .nav-wrapper nav a {
    color: @fadedPurple;
    font-size: 2.1rem;
    padding-left: 25px;
  }

  .nav-wrapper nav a:hover {
    color: @deepPurple;
  }

  .nav-wrapper img {
    width: 8%;
  }

  .landing-wrapper {
    .flex-col();
    height: 150px;
    text-align: center;
    color: @fadedPurple;
  }

  .landing-wrapper div h1 {
    font-size: 6rem;
  }

  .landing-wrapper div p {
    font-size: 2rem;
    padding: 20px 0;
  }
}

/*About*/
#about {
  .flex-center();
  padding-top: 84px;

  .about-container {
    max-width: @maxWidthMiddle;
    .flex-col();
  }

  .about-inner {
    max-width: 460px;
    .flex-col();
  }

  .about-inner img {
    width: 30%;
  }

  .about-inner h3 {
    .h3Style();
    padding: 20px 0;
  }

  .about-inner p {
    text-align: center;
  }
}
